<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Water Tours</title>
    <link rel="stylesheet" href="style-test.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
<div id="modalWindow" class="modal" style="display: none">
    <div class="modal-content">
        <span class="close" hx-get="/closeModal" hx-target="body" hx-swap="none"
              onclick="document.getElementById('modalWindow').style.display='none'; document.getElementById('buyTicketsButton').style.display='block'">
            ×
        </span>
        <div id="modalBody">
            ИНФО
        </div>
    </div>
</div>
<button id="buyTicketsButton"
        hx-get="/getModal"
        hx-target="#modalBody"
        hx-swap="innerHTML"
        hx-headers='{"Cache-Control": "no-cache"}'
        onclick="document.getElementById('modalWindow').style.display='block'; this.style.display='none'">
    Купить билеты
</button>
</body>
</html>