<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Water Tours</title>
    <link rel="stylesheet" href="style.css">
    <script src="\js\htmx.min.js"></script>
</head>
<body>
<div id="modalWindow" class="modal" style="display: none">
    <div class="modal-content">
        <span class="close"
              hx-get="/closeModal"
              hx-target="body"
              hx-swap="none"
              onclick="document.getElementById('modalWindow').style.display='none'; document.getElementById('buyTicketsButton').style.display='block'">
            ×
        </span>
        <div id="modalBody">
            На данный момент страница не доступна, приносим свои извинения за доставленные неудобства.
        </div>
    </div>
</div>
<button id="buyTicketsButton"
        hx-get="/getModal"
        hx-target="#modalBody"
        hx-swap="innerHTML"
        onclick="document.getElementById('modalWindow').style.display='block'; this.style.display='none'">
    Купить билеты
</button>
</body>
</html>