h1 {
    margin: 20px;
    padding: 20px;
    color: blue;
    font-size: 32px;
    text-align: center;
}

p {
    color: green;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    color: #008b8b;
    border-radius: 5px;
    font-size: 11px;
    background-color: #f5f5dc;
    transition: 0.2s linear;
}

button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #00ff00;
    transform: rotateZ(-3deg);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f9f9f9;
}

.highlight {
    color: #ff00ff;
}

#special {
    color: #1e90ff;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    margin: 20px;
}
